In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import nltk
import string

In [2]:
df_sms = pd.read_csv('spam.csv',encoding = 'latin_1')
df_sms.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df_sms = df_sms.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis = 1)
df_sms = df_sms.rename(columns = {"v1" : "label", "v2" : "sms"})
df_sms.head()

  label                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df_sms['label']

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: label, Length: 5572, dtype: object

In [5]:
df_sms['label'].replace('ham', 0, inplace = True)
df_sms['label'].replace('spam', 1, inplace = True)

In [6]:
df_sms.head()

   label                                                sms
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [7]:
df_sms.shape

(5572, 2)

In [8]:
df_org = df_sms.drop_duplicates()

In [9]:
df_org.shape

(5169, 2)

In [10]:
df_org.isnull().sum()

label    0
sms      0
dtype: int64

In [11]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Atharva
[nltk_data]     Nangare\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [12]:
from nltk.corpus import stopwords

In [13]:
def fun(text):
    nopunc = ""
    for char in text:
        if char not in string.punctuation:
            nopunc += char
    ls = list()
    for word in nopunc.split():
        if word.lower() not in stopwords.words('english'):
            ls.append(word.lower())
    return ls

In [80]:
df_lis = df_org['sms'].apply(fun)

In [81]:
df_lis.head()

0    [go, jurong, point, crazy, available, bugis, n...
1                       [ok, lar, joking, wif, u, oni]
2    [free, entry, 2, wkly, comp, win, fa, cup, fin...
3        [u, dun, say, early, hor, u, c, already, say]
4    [nah, dont, think, goes, usf, lives, around, t...
Name: sms, dtype: object

In [82]:
df_org['sms'].head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: sms, dtype: object

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer =  CountVectorizer()

In [26]:
bwg = vectorizer.fit_transform(df_org['sms'])

In [27]:
bwg.shape

(5169, 8672)

In [29]:
y = np.asarray(df_org['label'], dtype = "int")
x = bwg.toarray()
print(type(y))
print()
print(type(x))

<class 'numpy.ndarray'>

<class 'numpy.ndarray'>

In [50]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(bwg, y, test_size = 0.05, random_state = 0)

In [51]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(X_train, y_train)

In [52]:
clf.predict(X_train)

array([0, 0, 0, ..., 0, 0, 0])

In [53]:
y_train

array([0, 0, 0, ..., 0, 0, 0])

In [54]:
# X_train.shape

In [55]:
# type(df_org['sms'])

In [72]:
temp = 'Prime Minister invites you for convocation'
temp_series = pd.Series(temp)
t = vectorizer.transform(temp_series)

In [73]:
clf.predict(t)

array([0])